<div class="container-fluid">
	<div class="row">
		<div class="psui-search col-md-12 col-lg-8 ">
			<div>

				<fieldset>

					<span class="x-fieldset-title">{{'accounting.info.user.info'|translate}}</span>

					<div class="x-fieldset-row">
						<div class="x-fieldset-label">
							<label for="name" >{{'schema.org.baseData.name'|translate}}</label>
						</div>
						<div class="x-fieldset-value">
							<div class="x-fieldset-value-content">
								{{model.baseData.name}}
							</div>
						</div>
					</div>

					<div class="x-fieldset-row">
						<div class="x-fieldset-label">
							<label for="name" >{{'accounting.info.company.fees.topay'|translate}}</label>
						</div>
						<div class="x-fieldset-value">
							<div class="x-fieldset-value-content">
								{{model.accounting.overal.feesToPay}}
							</div>
						</div>
					</div>

					<div class="x-fieldset-row">
						<div class="x-fieldset-label">
							<label for="name" >{{'accounting.info.company.fees.topay.value' |translate}}</label>
						</div>
						<div class="x-fieldset-value">
							<div class="x-fieldset-value-content">
								{{model.accounting.overal.feesToPayValue}}
							</div>
						</div>
					</div>

					<div class="x-fieldset-row">
						<div class="x-fieldset-label">
							<label for="name" >{{'accounting.info.company.fees.overdue' |translate}}</label>
						</div>
						<div class="x-fieldset-value">
							<div class="x-fieldset-value-content">
								{{model.accounting.overal.feesOverdue}}
							</div>
						</div>
					</div>

					<div class="x-fieldset-row">
						<div class="x-fieldset-label">
							<label for="name" >{{'accounting.info.company.fees.overdue.value' |translate}}</label>
						</div>
						<div class="x-fieldset-value">
							<div class="x-fieldset-value-content">
								{{model.accounting.overal.feesOverdueValue}}
							</div>
						</div>
					</div>

				</fieldset>

				<fieldset>
					<span class="x-fieldset-title">{{'accounting.info.club.user.status' |translate}}</span>

					<div class="table-responsive" id="table1" ng-show="model.accounting.people" >
						<table  class="table"  >
							<thead>
								<tr>
									<th>{{'schema.people.baseData.name'|translate}}</th>
									<th>{{'schema.people.baseData.surName'|translate}}</th>
									<th>{{'schema.people.membershipFeeInfo.membershipFee'|translate}}</th>
									<th>{{'accounting.info.company.fees.topay'|translate}}</th>
									<th>{{'accounting.info.company.fees.topay.value'|translate}}</th>
									<th>{{'accounting.info.company.fees.overdue' |translate}}</th>
									<th>{{'accounting.info.company.fees.overdue.value' |translate}}</th>
									<th>Credit</th>
								</tr>
							</thead>
							<tbody>
								<tr  ng-repeat="line in model.accounting.people" >
										<td width="15%">{{line.name}}</td>
										<td width="20%">{{line.surName}}</td>
										<td width="10%">{{line.fee}}</td>

										<td width="10%">{{line.feesToPay}}</td>
										<td width="10%">{{line.feesToPayValue}}</td>

										<td width="10%">{{line.feesOverdue}}</td>
										<td width="10%">{{line.feesOverdueValue}}</td>
										<td width="10%">{{line.credit}}</td>

								</tr>

							</tbody>
						</table>
					</div>
					<div class="table-responsive" ng-show="model.accounting.people.length==0"  >
						<table  >
							<thead>
								<tr>
									<th>{{'schema.people.baseData.name'|translate}}</th>
									<th>{{'schema.people.baseData.surName'|translate}}</th>
									<th>{{'schema.people.membershipFeeInfo.membershipFee'|translate}}</th>
									<th>{{'accounting.info.company.fees.topay'|translate}}</th>
									<th>{{'accounting.info.company.fees.topay.value'|translate}}</th>
									<th>{{'accounting.info.company.fees.overdue' |translate}}</th>
									<th>{{'accounting.info.company.fees.overdue.value' |translate}}</th>
									<th>Credit</th>
								</tr>
							</thead>
							<tbody>
								<tr class="list-row">
									<td colspan="8" >
										{{'generic.search.nodata.found'|translate}}
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<br>
					<div class="row form-group">
							<button class="btn btn-secundary pull-right"  ng-show="model.accounting.people" ng-click="exportTable('table1')"> {{'generic.search.export.csv' | translate}} </button>
					</div>
				</fieldset>


			</div>
		</div>
	</div>

</div>
