<div class="container-fluid" >
	<div class="row">
		<div class="psui-search col-md-12 col-lg-8 ">
			<div>

				<fieldset>
					<span class="x-fieldset-title">{{'accounting.info.user.info'|translate}}</span>

					<div class="x-fieldset-row">
						<div class="x-fieldset-label">
							<label for="name" >{{'security.profile.edit.name' |translate}}</label>
						</div>
						<div class="x-fieldset-value">
							<div class="x-fieldset-value-content">
								{{model.baseData.name}}
							</div>
						</div>
					</div>
					
					<div class="x-fieldset-row">
						<div class="x-fieldset-label">
							<label for="name" >{{'schema.people.baseData.surName'|translate}}</label>
						</div>
						<div class="x-fieldset-value">
							<div class="x-fieldset-value-content">
								{{model.baseData.surName}}
							</div>
						</div>
					</div>

					<div class="x-fieldset-row">
						<div class="x-fieldset-label">
							<label for="name" >{{'schema.people.hockeyPlayerInfo.clubName'|translate}}</label>
						</div>
						<div class="x-fieldset-value">
							<div class="x-fieldset-value-content">
								{{model.hockeyPlayerInfo.clubName.refData.name}}
							</div>
						</div>
					</div>

					<div class="x-fieldset-row">
						<div class="x-fieldset-label">
							<label for="name" >{{'schema.people.contactInfo.email'|translate}}</label>
						</div>
						<div class="x-fieldset-value">
							<div class="x-fieldset-value-content">
								{{model.contactInfo.email}}
							</div>
						</div>
					</div>

					<div class="x-fieldset-row">
						<div class="x-fieldset-label">
							<label for="name" >{{'schema.people.hockeyPlayerInfo.category'|translate}}</label>
						</div>
						<div class="x-fieldset-value">
							<div class="x-fieldset-value-content">
								{{model.hockeyPlayerInfo.competitionCategory}}
							</div>
						</div>
					</div>

					<div class="x-fieldset-row">
						<div class="x-fieldset-label">
							<label for="name" >{{'schema.people.membershipFeeInfo.membershipFee'|translate}}</label>
						</div>
						<div class="x-fieldset-value">
							<div class="x-fieldset-value-content">
								{{model.membershipFeeInfo.membershipFee}}
							</div>
						</div>
					</div>

				</fieldset>



				<fieldset>
					<span class="x-fieldset-title">{{'accounting.info.user.payments'|translate}}</span>
					<div class="table-responsive" id='table1' ng-show="model.accounting.payments">
						<table class="table"  >
							<thead>
								<tr>
									<th>{{'schema.payments.baseData.accountingDate'|translate}}</th>
									<th>{{'schema.payments.baseData.clientName'|translate}}</th>
									<th>{{'schema.payments.baseData.variableSymbol'|translate}}</th>
									<th>{{'schema.payments.baseData.amount'|translate}}</th>

								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="payment in model.accounting.payments">
										<td width="10%">{{payment.baseData.accountingDate|dateToString}}</td>
										<td width="20%">{{payment.baseData.clientName}}</td>
										<td width="20%">{{payment.baseData.variableSymbol}}</td>
										<td width="10%" >{{payment.baseData.amount}}</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="table-responsive" ng-show="model.accounting.payments==0">
						<table class="table">
							<thead>
								<tr>
									<th>{{'schema.payments.baseData.accountingDate'|translate}}</th>
									<th>{{'schema.payments.baseData.clientName'|translate}}</th>
									<th>{{'schema.payments.baseData.variableSymbol'|translate}}</th>
									<th>{{'schema.payments.baseData.amount'|translate}}</th>
								</tr>
							</thead>
							<tbody>
								<tr class="list-row">
										<td colspan="{{headers.length}}">
											{{'generic.search.nodata.found'|translate}}
										</td>
								</tr>
							</tbody>
						</table>
					</div>

					<br>
					<div class="row form-group">
						<button class="btn btn-secundary pull-right"  ng-show="model.accounting.payments" ng-click="exportTable('table1')"> {{'generic.search.export.csv' | translate}} </button>
					</div>
				</fieldset>
				<fieldset>
					<span class="x-fieldset-title">{{'accounting.info.user.fees.unpaid'|translate}}</span>
					<div class="table-responsive" id='table2' ng-show="model.accounting.counted.toPay">

						<table class="table">
							<thead>
								<tr>
									<th>{{'schema.fees.baseData.setupDate'|translate}}</th>
									<th>{{'schema.fees.baseData.dueDate'|translate}}</th>
									<th>{{'schema.fees.baseData.membershipFee'|translate}}</th>
									<th>{{'schema.fees.baseData.membershipFeePaid'|translate}}</th>
									<th>{{'schema.fees.baseData.feePaymentStatus'|translate}}</th>
								</tr>

							</thead>
							<tbody>
								<tr ng-repeat="fee in  model.accounting.counted.toPay">
									<td width="20%">{{fee.entity.baseData.setupDate|dateToString}}</td>
									<td width="20%">{{fee.entity.baseData.dueDate|dateToString}}</td>
									<td>{{fee.entity.baseData.membershipFee}}</td>
									<td>{{fee.entity.baseData.membershipFeePaid}}</td>
									<td>{{fee.entity.baseData.feePaymentStatus}}</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="table-responsive" ng-show="model.accounting.counted.toPay==0">

						<table class="table">
							<thead>
								<tr>
									<th>{{'schema.fees.baseData.setupDate'|translate}}</th>
									<th>{{'schema.fees.baseData.dueDate'|translate}}</th>
									<th>{{'schema.fees.baseData.membershipFee'|translate}}</th>
									<th>{{'schema.fees.baseData.membershipFeePaid'|translate}}</th>
									<th>{{'schema.fees.baseData.feePaymentStatus'|translate}}</th>
								</tr>

							</thead>
							<tbody>
								<tr class="list-row">
									<td colspan="6">
										{{'generic.search.nodata.found'|translate}}
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<br>
					<div class="row form-group">
						<button class="btn btn-secundary pull-right"  ng-show=" model.accounting.counted.toPay" ng-click="exportTable('table2')"> {{'generic.search.export.csv' | translate}} </button>
					</div>
				</fieldset>
				<fieldset>
					<span class="x-fieldset-title">{{'accounting.info.user.fees.history'|translate}}</span>
					<div class="table-responsive" id="table3" ng-show="model.accounting.counted.paid" >
						<table class="table">
							<thead>
								<tr>
									<th>{{'schema.fees.baseData.setupDate'|translate}}</th>
									<th>{{'schema.fees.baseData.dueDate'|translate}}</th>
									<th>{{'schema.fees.baseData.dateOfPayment'|translate}}</th>
									<th>{{'schema.fees.baseData.membershipFee'|translate}}</th>
									<th>{{'schema.fees.baseData.membershipFeePaid'|translate}}</th>
									<th>{{'schema.fees.baseData.feePaymentStatus'|translate}}</th>
								</tr>
							</thead>
							<tbody>
								<tr  ng-repeat="fee in  model.accounting.counted.paid" >
										<td width="20%">{{fee.entity.baseData.setupDate|dateToString}}</td>
										<td width="20%">{{fee.entity.baseData.dueDate|dateToString}}</td>
										<td width="20%">{{fee.entity.baseData.dateOfPayment|dateToString}}</td>
										<td>{{fee.entity.baseData.membershipFee}}</td>
										<td>{{fee.entity.baseData.membershipFeePaid}}</td>
										<td>{{fee.entity.baseData.feePaymentStatus}}</td>
								</tr>

							</tbody>
						</table>
						</div>
						<div class="table-responsive" ng-show="model.accounting.counted.paid==0" >
							<table class="table">
								<thead>
									<tr>
										<th>{{'schema.fees.baseData.setupDate'|translate}}</th>
										<th>{{'schema.fees.baseData.dueDate'|translate}}</th>
										<th>{{'schema.fees.baseData.dateOfPayment'|translate}}</th>
										<th>{{'schema.fees.baseData.membershipFee'|translate}}</th>
										<th>{{'schema.fees.baseData.membershipFeePaid'|translate}}</th>
										<th>{{'schema.fees.baseData.feePaymentStatus'|translate}}</th>
									</tr>
								</thead>
								<tbody>
									<tr class="list-row">
										<td colspan="6" >
											{{'generic.search.nodata.found'|translate}}
										</td>
									</tr>
								</tbody>
							</table>
							</div>
						<br>
						<div class="row form-group">
							<button class="btn btn-secundary pull-right"  ng-show="model.accounting.counted.paid" ng-click="exportTable('table3')"> {{'generic.search.export.csv' | translate}} </button>
						</div>
					</div>
				</fieldset>
			</div>
		</div>
	</div>

</div>
